---
name: Victoria Metrics
version: dev
slug: victoria-metrics
description: Time Series Database for long term storage as replacement for VictoriaMetrics and InfluxDB
url: https://github.com/QuentinBtd/hassio-addon-victoria-metrics
# codenotary: codenotary@quentinbertrand.fr
startup: services
ingress: true
ingress_port: 1337
ingress_stream: true
init: false
panel_icon: mdi:chart-timeline
panel_title: Victoria Metrics
arch:
  - aarch64
  - amd64
  - armv7
map:
  - homeassistant_config:rw
  - share:rw
  - ssl:ro
  - addon_config:rw
options:
  retention: "99y"
  enable_prometheus_scrape: true
  global_config: |
    scrape_interval: 1m
    scrape_timeout: 15s
  homeassistant_scrape_config: |
    - job_name: "home-assistant"
      scrape_interval: "20s"
      scrape_timeout: "15s"
      metrics_path: /api/prometheus
      authorization:
        credentials: "BEARER TOKEN HERE"
      scheme: http
      static_configs:
        - targets: ['homeassistant:8123']
  additional_scrape_configs: |
    # Node Exporter job scrape example
    # - job_name: "node-exporter"
    #  scrape_interval: "30s"
    #  scrape_timeout: "15s"
    #  metrics_path: /metrics
    #  scheme: http
    #  static_configs:x
    #    - targets: ['localhost:9100']
  additional_arguments: ""
  storage_data_path: "/share/victoria-metrics-data"
  custom_promscape_file: false
  custom_promscape_file_path: "/homeassistant/victoria-metrics/promscrape.yaml"
  env_vars: []
  log_level: "INFO"
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
ports:
  80/tcp: null
  8428/tcp: null
ports_description:
  80/tcp: Not required for Ingress
  8428/tcp: Victoria Metrics port
schema:
  retention: "str?"
  enable_prometheus_scrape: bool
  global_config: str?
  homeassistant_scrape_config: str?
  additional_scrape_configs: str?
  additional_arguments: str?
  storage_data_path: str
  custom_promscape_file: bool
  custom_promscape_file_path: str?
  ssl: bool
  certfile: str
  keyfile: str
  env_vars:
    - name: match(^([A-Z0-9_])+$)
      value: str
  log_level: list(INFO|WARN|ERROR|FATAL|PANIC)?
